<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FileLocation" value="C:\Users\dushyant.singh01\Desktop\Assignment\Test\Test\Test.xlsx"/>
  <add key="SearchQuery" value="Select * from MyTest where ValidFrom=@vDate and CommodityCode=@cCode"/>
  </appSettings>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DatabaseName;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ODB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=(local);Integrated Security=SSPI;Extended Properties='Excel 12.0 Xml;HDR=YES'" providerName="Microsoft.ACE.OLEDB.12.0" />
  <add name="ODB1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=(local);Integrated Security=SSPI;Extended Properties='Excel 8.0;HDR=YES'" providerName="Microsoft.ACE.OLEDB.12.0" />
  </connectionStrings>

</configuration>